/*------------------------------------------------------------------
[Master Stylesheet]

Project:        Epic Investment Partners
Version:        1.0
Designer:       Rahul Mishra
Email ID:       gmrahulmishra@gmail.com

-------------------------------------------------------------------*/
/*
This file contains the common styles of this theme.
*/
/*------------------------------------------------------------------
[Table of contents]

	* Typography
	* Home
	* About
	* Contact
	* Services
	* Footer
* ===============================================
*/

/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=roman');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Raleway&display=swap');


/*
 * Typography
 * -----------------------------------------------
*/
::selection {
  background: #1a1549;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #1a1549;
  /* Firefox */
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #1a1549;
  /* Safari */
  color: #fff;
  text-shadow: none;
}

body {
  color: #1a2352;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
}
ul{
	padding-left:12px;
}
.btn{
	border-radius: 0px;
	font-weight: bold;
	padding: 8px 30px;
	font-size: 14px;
}
.btn-primary{
	background: #1a1549;
	border: 1px solid #1a1549; 
}
.btn-primary:hover{
	background: #99103b;
	border: 1px solid #99103b; 
}
.btn-primary.active{
	background: #99103b !important;
	border: 1px solid #99103b !important; 
}

hr{
	margin: 0px;
	border-top: 2px solid #1a1549;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

/* -------- Headings ---------- */

h1,h2,h3,h4,h5,h6{
	font-family: 'Cormorant', serif;
	font-weight: bold;
}

/* -------- Header ---------- */
header{
	position: absolute;
	z-index: 99;
	width: 100%;
}
header.inner-page{
	position: relative;
	background-size: cover !important;
	padding-bottom:30px;
}

.sub-header{
	margin-top: 50px;
	position: relative;
	min-height: 220px;
}
.sub-header .text-block p{
	color:#ffffff;
	padding:10px 17px 10px 0px;
	background: #99103b;
	display: block;
	font-size: 16px;
}
.sub-header .text-block p:before{
	content: '';
	width: 500px;
	position: absolute;
	background: #99103b;
	height: 44px;
	top: 0px;
	left: -480px;
	z-index: -9;
}
.sub-header  h3{
	font-size: 35px;
	position: relative;
}
/* -------- Nav bar ---------- */
.navbar{
	padding-top:0px;
	padding-bottom:0px;
}
.navbar-nav li{
	margin: 35px 20px 0px 20px;
}
.navbar-nav>li.active>a{
	color: #99103b !important;
}
.navbar-nav li:last-child{
	margin-right: 0px;
}
.navbar-nav li a{
	font-size: 16px;
	color: #1a1549 !important;
	font-weight: 600;
}
.navbar-nav li a:hover{
	color: #99103b !important;
}
.navbar-nav .nav-item:hover a{
	background:#ffffff
}
.navbar-nav li a:hover{
	text-decoration: none;
}
.dropdown-menu{
	top:95%;
}
.dropdown-menu.right{
	right:0px;
	left: inherit;
}
.navbar-nav .dropdown-item{
	font-size: 14px;
	padding-left: 10px;
}
.navbar-nav .dropdown-item:after{
	content: '>';
	padding-left:  10px;
}
.navbar-nav .dropdown-menu{
	border: 0px;
	border-radius: 0px;	
}
.dropdown-toggle:after {
	display: none;
}
/* -------- Slider ---------- */
.carousel .carousel-item {
    width: 100%;
    background-size: cover;
    background-position: center;
}
.carousel .carousel-item:first-of-type {
    background: url("../images/background/carousel_01.jpg");
}

.carousel .carousel-item:nth-of-type(2) {
    background: url("../images/background/carousel_02.jpg");
}

.carousel .carousel-item:last-of-type {
    background: url("../images/background/carousel_03.jpg");
}

.carousel-indicators {
    justify-content: left !important;
    top: 360px !important;
	margin-left: 0px;
	margin-right: 0px;
}
.carousel-indicators li {
     width: 110px;
	margin-left: 20px;
}
.carousel-indicators .active {
     background-color: #99103b;
}

.carousel .slider-content {
    margin-top: 125px;
	margin-bottom: 350px;
}
#epicslider .text-block p{
	color:#ffffff;
	padding:7px 17px 7px 0px;
	background: #99103b;
	display: inline-block;
	font-size: 16px;
}
#epicslider .text-block{
	margin-top: 50px;
	position: relative;
}
#epicslider .text-block p:before{
	content: '';
	width: 100%;
	position: absolute;
	background: #99103b;
	height: 38px;
	top: 0px;
	left: -505px;
	z-index: -9;
}
#epicslider .slider-content h3{
	margin-top: 50px;
	font-size: 35px;
	position: relative;
}

/* -------- service ---------- */

.service{
	position: absolute;
	top: 550px;
	width: 100%;
	z-index: 19;
}
.service h4{
	border-bottom: 2px solid #1a1549;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

/* -------- community ---------- */

.community{
	position: relative;
	padding: 50px 0px;
}

/* -------- footer ---------- */

footer{
	position: relative;
	padding: 50px 0px;
}

p a,footer ul li a{
	color:#1a2352;
	text-decoration: underline;
}
p a:hover,footer ul li a:hover{
	color:#99103b;
}


/* -------- main-box ---------- */

.main-box{
	position: relative;
	padding: 50px 0px;
}
.main-box h4{
	margin-bottom: 25px;
}


/* -------- more-sector ---------- */
.more-sector{
	margin-bottom: 	15px;
}
.more-sector a{
	color: #1a1549;
	background: #cecece;
	font-size: 15px;
	display: block;
    padding: 6px 10px;
	position: relative;
}
.more-sector a span{
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 24px;
}
.more-sector a:hover{
	color: #99103b;
}
/* -------- key-contacts ---------- */
.key-contacts{
	background: #f2f4f5;
	padding: 50px 0px;
}
.key-contacts hr{
	margin: 20px 0px;
}
.key-contacts p{
	margin: 0px;
	font-weight: 600;
}
/* -------- accordion__item ---------- */
.accordion__item {
  margin-bottom: 20px
}
.accordion__item__header {
	list-style: none;
	cursor: pointer;
	position: relative;
	font-family: 'Cormorant', serif;
	font-size: 18px;
	border-bottom: 1px solid #371844;
	padding: 10px 0px;
	margin-bottom: 10px;
}

.accordion__item__header::before {
  height: 12px;
  width: 12px;
  content: "";
  position: absolute;
  right: 15px;
  top: 20px;
  transition: .5s all;
  transform: rotate(-45deg);
  border-right: 1px solid #1a2352;
  border-bottom: 1px solid #1a2352
}
.accordion__item__header a{
	color: #1a1549;
	width: 85%;
	display: block;
}
.accordion__item__header.active{
  border-bottom: 1px solid #9db1db;
}
.accordion__item__header.active a{
  color: #9db1db;
  transition: .4s
}
.accordion__item__header.active:before {
  transform: rotate(45deg);
  top: 20px;
  border-right: 1px solid #9db1db;
  border-bottom: 1px solid #9db1db
}
.accordion__item__content {
  overflow-y: hidden;
  padding: 0;
  display: none
}
.accordion__item__content ul{
	list-style: none;
	line-height: 30px;
	padding: 0px;
	margin: 0px;
}
.accordion__item__content ul li a{
	color: #1a2352;
	position: relative;
	display: block;
}
.accordion__item__content ul li a .fa{
	position: absolute;
	top: 7px;
	right: 0px;
}
/* -------- stats-box ---------- */
.stats-box{
	background: #1a2352;
	width: 100%;
	padding: 10px 15px 20px 15px;
	color: #ffffff;
	margin: 15px 0px;
}
.stats-box h3{
	font-family: 'Raleway', sans-serif;
	border-bottom: 1px solid #ffffff;
	font-size: 40px;
	padding-bottom: 15px;
}
.stats-box p{
	margin-bottom: 0px;
}
/* -------- stats-box ---------- */
.contact-box{
	border-top:1px solid #1a2352;
	margin-top:10px;
	padding-top:15px;
}
/* -------- people-page ---------- */
.people-page{
	position: relative;
	padding: 50px 0px;
}
.people-page h2{
	margin-bottom: 30px;
}
.people-page .heading{
	border-bottom: 2px solid #1a1549;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.people-page ul.leftside{
	list-style: none;
	padding: 0px;
	margin-bottom: 30px;
}
.people-page ul.leftside li{
	line-height: 30px;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
}
.people-page ul.leftside li:before{
	content: '';
	position: absolute;
	top: 7px;
	left: 0px;
	background: #dcdcdc;
	width: 15px;
	height: 15px;
}
.people-page ul.leftside li.active:before{	
	background: #1a1549;
}
.people-page .accordion__item {
    margin-bottom: 0px;
}
.people-page .accordion__item__header{
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}
.people-page .accordion__item__header::before {
	height: 10px;
	width: 10px;
	top: 15px;
}
.people-page .accordion__item__header .location{
	float: right;
	margin-right: 50px;
}
.people-page .accordion__item__content{
	padding: 15px 0px;
	font-weight: normal;
}
/* -------- right side content ---------- */
.content{
	margin-bottom: 20px;
}
.content .accordion__item {
    margin-bottom: 0px;
}
.content .accordion__item__header{
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}
.content .accordion__item__header::before {
	height: 10px;
	width: 10px;
	top: 15px;
}
.content .accordion__item__header .location{
	float: right;
	margin-right: 50px;
}
.content .accordion__item__content{
	padding: 15px 0px;
}
/* -------- Tabs ---------- */
.nav-tabs{
	border-bottom: 2px solid #1a2352;	
}
.nav-tabs .nav-item{
	margin-bottom: 0px;
}
.nav-tabs .nav-link{
	font-size: 15px;
	padding: 7px 15px;
	border-radius: 0px;
	background: #f2f4f5;
	color: #1a1549;
	border-bottom: 0px;
	border: 1px solid #fff;
}
.nav-tabs .nav-link:hover{
	background:#1a2352;
	color: #ffffff;
	border: 1px solid #1a2352;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background:#1a2352;
	color: #ffffff;
	border: 1px solid #1a2352;
}
.tab-content > .tab-pane{
	padding: 30px 0px 10px;
}
/* -------- Download PDF ---------- */
.pdf_download a{
	background: #e6eef6;
	display: block;
	position: relative;
	color: #1a1549;
	padding: 10px 15px;
	font-size: 17px;
	line-height: 30px;
	text-decoration: none;
}
.pdf_download a .date{
	display: block;
	font-size: 14px;
}
.pdf_download a:hover{
	background: #1a1549;
	color: #ffffff;
}
.pdf_download a:hover:before{
	background: url("../images/svg-icon/download.svg");
	content: '';
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 25px;
	height: 25px;
}
