@media only screen and (max-width: 991px) {
  header {
    padding-top:15px;
  }
  #epicslider .slider-content h3{
      font-size:20px;
  }
  #epicslider .text-block p:before {
      left: -265px;
  }
  .mob_service{
      background:#f2f4f5;
      padding:15px;
      margin-bottom:20px;
  }
  .sub-header{
      min-height: 60px;
      z-index: -2;
  }
  .sub-header h3{
      font-size:25px;
  }
  .navbar-light .navbar-toggler{
      border:none;
      outline: none;
  }
  .navbar-collapse{
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    left: 0px;
    top: -15px;
  }
  .navbar-nav{
      margin-top:120px;
  }
  .navbar-nav li{
      margin: 3px 15px;
    border-bottom: 2px solid #1a1549;
  }
  .navbar-nav li:last-child{
    margin-right:15px;
    position: relative;
  }
  .navbar-nav .nav-item .nav-link:before{
    content: '>';
    position: absolute;
    right: 0px;
  }
  .carousel .slider-content{
      margin-bottom:0px;
  }
  footer .text-right{
      text-align: left !important;
  }
  .navbar-nav li:nth-last-child(2){
      margin-right:15px;
  }
}
@media only screen and (max-width: 786px) {
  #epicslider .slider-content h3{
    margin-top: 10px;
    font-size: 20px;
  }
  .sub-header{
      margin-top:30px;
  }
  .key-contacts p{
      margin-bottom:20px;
  }
  #epicslider .text-block{
      margin-top: 10px;
  }
  .carousel-indicators{
      display:none;
  }
  .slider-content img{
    max-width:80%;
    margin: 0px auto;
    display: block;
  }
  .people-page .accordion__item__header{
     font-size:11px;
 }
 .mob_service{
     display:none;
 }
}
@media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
 #epicslider .text-block p:before {
     left: -395px;
 }
 .people-page .accordion__item__header{
     font-size:11px;
 }
  
}

@media only screen and (min-width: 787px) {
 .hide_desktop{
     display:none;
 }
}


